<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-wrapper"> 
			<p ng-show="wthr.badCode(wthr.weatherData.cod)">That is not a recognized location. Please try different location.</p>
			<input id="input" name="input" ng-model="wthr.input" type="text" placeholder="e.g. Rochester, NY" ng-required="true"/>
			<div class="btn-group" data-toggle="buttons">
			  <label class="">
			    <input type="radio" name="units" ng-model="wthr.radioValue" value="{{wthr.imperial}}" id="imperial" checked="true"> {{wthr.imperial}}
			  </label>
			  <label class="">
			    <input type="radio" name="units" ng-model="wthr.radioValue" value ="{{wthr.metrics}}" id="metrics"> {{wthr.metrics}}
			  </label>
			</div>
		</div>
		<div class="search-wrapper"> 
			<button type="button" class="btn btn-primary btn-lg" ng-disabled="!wthr.input.length" ng-click="wthr.search(wthr.input, wthr.radioValue)">Search</button>
		</div>
	</div>
</div>
<div class="row">
	<div ng-show="wthr.weatherData && !wthr.badCode(wthr.weatherData.cod)" class="weather-wrapper col-xs-6 col-xs-offset-3">
		<div class="results">
			<div class="section row">
				<div class="col-xs-12"> 
					<h3>Current Conditions in {{wthr.weatherData.name}}</h3>
				</div>
			</div>
			<div class="section row">
				<div class=" wthrDescrip col-xs-8 col-xs-offset-2">
					<h4><strong>Temp: {{wthr.weatherData.main.temp}}&deg; F - {{wthr.weatherData.weather[0].description}}</strong></h4>
				</div>
			</div>
			<div class="section row">
				<div class="col-xs-12">
					<h4>Humidity: {{wthr.weatherData.main.humidity}} %</h4>
				</div>
				<div class="col-xs-12">
					<h4>Pressure: {{wthr.weatherData.main.pressure}} hPa</h4>
				</div>
				<div class="col-xs-12">
					<h4>Wind: {{wthr.weatherData.wind.speed}} mph</h4>
				</div>
			</div>
		</div>
	</div>
</div>